
<!-- header file -->
<%- include('partials/header') %>

<div class='ui main text container segment'>
    <div class='ui huge header'>New Blog </div>
</div>

<!-- footer file -->
<%- include('partials/footer') %>